@import "tailwindcss";

@theme {
  --font-syne: 'Syne', sans-serif;
  --font-dm: 'DM Sans', sans-serif;
}

@layer base {
  body {
    background-color: #000000;
    color: #eef2ee;
    font-family: 'DM Sans', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Syne', sans-serif;
  }
}

.font-syne {
  font-family: 'Syne', sans-serif;
}

.font-dm {
  font-family: 'DM Sans', sans-serif;
}
